<h1> Showing your article</h1>

<table>
	<tr>
		<th>Title: <%= @article.title%></th>
	</tr>
	<tr>
		<td>Description: <%= @article.description %></td>
	</tr>
		
 </table>
<%= link_to "Edit article", edit_article_path(@article) %> |
 <%= link_to "Go back to articles page", articles_path %>