<div class="container">
	<footer class="footer"><!--notice the footer tag-->
		<small>
			Copyright &copy; <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/learn/v4/t/lecture/3851042">My Udemy Course</a> by <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/learn/v4/t/lecture/3851042">Same Course</a>
		</small>
		<nav><!--notice the nav tag-->
			<ul>
			</li><%= link_to "About", pages_about_path %></li>
		</ul>
	</nav>
</footer>
</div>